:root{
   --primary:#9EFF00;
   --secondry:#F4FFEE;
   --dark:#000000;
   --border: #DEE6ED;
}

.row>*{
    padding: 0px;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    display: block;
    color: black;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

body{
    font-family: "Jost";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #000000;
}

p{
    font-family: "Jost";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #5A5A67;  
}

.nav-menu-options{
    display: flex;
    gap: 60px;
    align-items: center;
}

.header-one-nav-bar-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-btn-wrap > a{
    padding: 18px 30.5px;
    background-color: var(--primary);
    transition: 0.2s ease-in-out;
    border: 1px solid transparent;
}

.nav-btn-wrap > a:hover{
   background-color: transparent;
   border: 1px solid var(--dark);
}

.primary-btn{
    display: inline-block;
    padding: 18px 30.5px;
    background-color: var(--primary);
    font-family: "Jost";
    font-size: 16px;
    font-weight: 600;
    border: 1px solid transparent;
    transition: 0.2s ease-in-out;
    line-height: 26px;
}

.primary-btn:hover{
    background-color: transparent;
    border: 1px solid var(--dark);
 }

.headerOne .col-12{
    padding: 0px;
}

.headerOne{
    /* position: fixed; */
    /* top: 50px; */
    padding-top: 50px;
    width: 100%;
}

.team-members-client-projets{
    display: flex;
    gap: 60px;
}

.team-members-client-projets > div{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav-list-active{
    padding: 10px 25px;
    background-color: #000000;
    border-radius: 30px;
    color: var(--primary);
}

.nav-btn-wrap > a{
    font-family: "Jost";
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;    
}

.Home-one-about-us-sec{
    padding: 100px 0px;
}

.home-one-about-main-tit > span{
    width: 225px;
    height: 80px;
    display: inline-block;
    background: url("../../assets/HomeOne/AboutUs/main-tit-inner-txt.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    transform: translateY(20px);
}

.home-one-about-main-tit{
    font-family: "Outfit";
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 24px;
}

.home-one-about-cot-wrap{
    padding-top: 74px;
    padding-left: 25px;
}

.home-one-about-cot-wrap p{
    margin-bottom: 24px;
}

.home-one-who-we-are-sec{
    padding: 130px 0px;
    position: relative;
    height: 778px;
}

.brand-Logo-ul-list{
    background-color: #000000;
    list-style: none;
    display: flex;
    gap: 60px;
    padding: 15px 0px;
}

.brand-logo-sec{
    overflow-x: hidden;
    position: relative;
    height: 70px;
}

.brand-Logo-ul-list{
    margin: 0px;
    position: absolute;
    width: 200%;
    animation: autoscrol 10s linear infinite;
    left: 0px;
}

.home-one-who-we-are-cont-wrap{
    background-color: var(--primary);
    padding: 100px 363px 100px 240px  ;
    width: 100%;
    max-width: 1281px;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes autoscrol{
    from{
        left: 0%;
    }
    to{
        left: -50%;
    }
}

.home-one-who-we-are-para{
    margin-bottom: 79px;
}

.who-we-are-num{
    font-family: "Outfit";
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 7px;
}

.home-one-who-we-are-main-tit{
    font-family: "Outfit";
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 30px;
}

.who-we-are-main-img{
    position: relative;
    width: fit-content;
}

.who-we-are-main-img  .who-we-are-main-img-box-1 , .who-we-are-main-img-box-2{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #000000;
}

.who-we-are-main-img-box-2{
    top: 100%;
    right: 100%;
}

.who-we-are-main-img-box-1{
    bottom: 100%;
    left: 100%;
}

.who-we-are-main-img > img{
    border-radius: 30px 0px 30px 0px;
}

.What-Sets-Us-Apart-main-tit{
    font-family: "Outfit";
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 30px;
}

.What-Sets-Us-Apart-main-tit-wrap{
    text-align: center;
    margin-bottom: 80px;
}

.What-Sets-Us-Apart-main-tit-wrap > p{
    margin: 0px;
}

.What-Sets-Us-Apart-sec{
    padding: 100px 0px;
}

.What-Sets-Us-Apart-card{
    padding: 49px;
    background-image: url("../../assets/HomeOne/WhatSetsUsApart/What-Sets-Us-Apart-card-bg.svg");
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondry);
    text-align:  center;
    overflow: hidden;
    transition: background-image 1s ease-in-out;
    border-radius: 10px;
}

.What-Sets-Us-Apart-sec .row>* {
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
}

.What-Sets-Us-Apart-card-img{
    background-color: var(--primary);
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
    border-radius: 8px;
}

.What-Sets-Us-Apart-title{
    margin-bottom: 12px;
    font-family: "Outfit";
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
}

.Home-one-Our-Expertise-tit-wrap{
    text-align: center;
    max-width: 849px;
    margin: 0rem auto;
    margin-bottom: 80px ;
}

.Home-one-Our-Expertise-main-tit{
    font-family: "Outfit";
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 26px;
}

.Home-one-Our-Expertise-main-card{
    display: flex;
    border: 1px solid var(--border);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
}

.Home-one-Our-Expertise-sec{
    padding: 100px 0px;
}

.Home-one-Our-Expertise-card-cont-wrap{
    padding: 50px;
}

.Home-one-Our-Expertise-card-cont-wrap > p{
    margin-bottom: 17px;
}


.Home-one-Our-Expertise-card-tit-wrap{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 17px;
}

.Home-one-Our-Expertise-card-tit-wrap > img{
    background-color: var(--primary);
    width: 60px;
    height: 60px;
    padding: 16px;
    border-radius: 5px;
}

.Home-one-Our-Expertise-card-tit-wrap h4{
    font-family: "Outfit";
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

.Home-one-Our-Expertise-inner-card{
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    background-color: var(--secondry);
    border-radius: 20px;
}

.inner-card-child {
    text-align: center;
    padding: 0px 75px;
}

.inner-card-child > h4{
    margin-bottom: 2px;
    font-family: "Outfit";
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.inner-card-child > p{
    margin-bottom: 0px;
}

.inner-card-child-center{
    border-left: 2px dotted #dee6ed;
    border-right: 2px dotted #dee6ed;
}

.Home-One-Nexora-Blog-Hub-tit-wrap{
    max-width: 849px;
    margin: 0rem auto 80px;
    text-align: center;
}

.Home-One-Nexora-Blog-Hub-tit-wrap > p{
    margin: 0px;
}

.Home-One-Nexora-Blog-Hub-main-tit{
    font-family: "Outfit";
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 30px;
}

.Home-One-Nexora-Blog-listing-card{
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    background-color: var(--secondry);
    position: relative;
}

.Home-One-Nexora-Blog-Hub-sec .row>*{
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
}

.Nexora-Blog-listing-card-cont-wrap{
    padding: 30px;
}


.blog-author-details{
    display: flex;
    align-items: center;
}

.blog-author-details p{
    margin: 0px;
}

.Blog-listing-card-date{
    margin-bottom: 16px;
    font-family: "Jost";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.Blog-listing-card-tit{
    font-family: "Outfit";
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 16px;
}

.Blog-listing-card-tit a:hover{
   color: #5f5f5f;
}

.blog-detail-page-link{
    position: absolute;
    right: 30px;
    bottom: 30px;
    background-color: var(--primary);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.Blog-listing-card-para{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border);
}

.blog-author-img{
    margin-right: 16px;
    border-radius: 5px;
}

.blog-author-name{
    font-family: "Outfit";
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin: 0px;
}

.Home-one-Our-Expertise-main-img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}