:root{
   --primary:#9EFF00;
   --secondry:#F4FFEE;
   --dark:#000000;
   --border: #DEE6ED;
}

*, ::before , ::after{
    /* outline: 1px solid red;
    opacity: 1; */
}

.row>*{
    padding: 0px;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    display: block;
    color: black;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

body{
    font-family: "Jost";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #000000;
}

p{
    font-family: "Jost";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #5A5A67;  
}

.nav-menu-options{
    display: flex;
    gap: 35px;
    align-items: center;
}

.header-one-nav-bar-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-btn-wrap > a{
    padding: 18px 30.5px;
    background-color: var(--primary);
    transition: 0.2s ease-in-out;
    border: 1px solid transparent;
}

.nav-btn-wrap > a:hover{
   background-color: transparent;
   border: 1px solid var(--dark);
}

.primary-btn{
    display: inline-block;
    padding: 18px 30.5px;
    background-color: var(--primary);
    font-family: "Jost";
    font-size: 16px;
    font-weight: 600;
    border: 1px solid transparent;
    transition: 0.2s ease-in-out;
    line-height: 26px;
}

.primary-btn:hover{
    background-color: transparent;
    border: 1px solid var(--dark);
 }

.headerOne .col-12{
    padding: 0px;
}

.headerOne{
    padding-top: 50px;
    width: 100%;
}

.team-members-client-projets{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
}

.team-members-client-projets > div{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav-list-active{
    padding: 10px 25px;
    background-color: #000000;
    border-radius: 30px;
    color: var(--primary);
    transition: 0s ;
}

.nav-btn-wrap > a{
    font-family: "Jost";
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;    
}

.Home-one-about-us-sec{
    padding: 71px 0px 60px;
}

.home-one-about-main-tit > span{
    width: 225px;
    height: 80px;
    display: inline-block;
    background: url("../../assets/HomeOne/AboutUs/main-tit-inner-txt.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    transform: translateY(15px);
}

.home-one-about-main-tit{
    font-family: "Outfit";
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 24px;
}

.home-one-about-cot-wrap{
    padding-top: 74px;
    padding-left: 25px;
}

.home-one-about-cot-wrap p{
    margin-bottom: 24px;
}

.home-one-who-we-are-sec{
    padding: 140px 0px;
    position: relative;
}

.brand-Logo-ul-list{
    background-color: #000000;
    list-style: none;
    display: flex;
    gap: 60px;
    padding: 15px 0px;
}

.brand-logo-sec{
    overflow-x: hidden;
    position: relative;
    height: 70px;
    margin: 60px 0px;
}

.brand-Logo-ul-list{
    margin: 0px;
    position: absolute;
    width: 200%;
    animation: autoscrol 10s linear infinite;
    left: 0px;
}

.home-one-who-we-are-cont-wrap{
    background-color: var(--primary);
    padding: 100px 363px 100px 240px  ;
    width: 100%;
    max-width: 1281px;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes autoscrol{
    from{
        left: 0%;
    }
    to{
        left: -50%;
    }
}

.home-one-who-we-are-para{
    margin-bottom: 79px;
}

.who-we-are-num{
    font-family: "Outfit";
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 7px;
}

.home-one-who-we-are-main-tit{
    font-family: "Outfit";
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 30px;
}

.who-we-are-main-img{
    position: relative;
    width: fit-content;
}

.who-we-are-main-img  .who-we-are-main-img-box-1 , 
.who-we-are-main-img-box-2{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #000000;
}

.who-we-are-main-img-box-2{
    top: 100%;
    right: 100%;
}

.who-we-are-main-img-box-1{
    bottom: 100%;
    left: 100%;
}

.who-we-are-main-img > img{
    border-radius: 30px 0px 30px 0px;
}

.What-Sets-Us-Apart-main-tit{
    font-family: "Outfit";
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 30px;
}

.What-Sets-Us-Apart-main-tit-wrap{
    text-align: center;
    margin-bottom: 80px;
}

.What-Sets-Us-Apart-main-tit-wrap > p{
    margin: 0px;
}

.What-Sets-Us-Apart-sec{
    padding: 60px 0px;
}

.What-Sets-Us-Apart-card{
    padding: 49px;
    background-image: url("../../assets/HomeOne/WhatSetsUsApart/What-Sets-Us-Apart-card-bg.svg");
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondry);
    text-align:  center;
    overflow: hidden;
    transition: background-image 1s ease-in-out;
    border-radius: 10px;
    border: 1px solid rgba(222, 230, 237, 1)
}

.What-Sets-Us-Apart-sec .row>* {
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
}

.What-Sets-Us-Apart-card-img{
    background-color: var(--primary);
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
    border-radius: 8px;
    display: grid;
    place-content: center;
}

.What-Sets-Us-Apart-title{
    margin-bottom: 12px;
    font-family: "Outfit";
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
}

.Home-one-Our-Expertise-tit-wrap{
    text-align: center;
    max-width: 849px;
    width: 100%;
    margin: 0rem auto;
    margin-bottom: 80px ;
}

.Home-one-Our-Expertise-main-tit{
    font-family: "Outfit";
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 26px;
}

.Home-one-Our-Expertise-main-card{
    display: flex;
    border: 1px solid var(--border);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
}

.Home-one-Our-Expertise-sec{
    padding: 60px 0px;
}

.Home-one-Our-Expertise-card-cont-wrap{
    padding: 50px;
}

.Home-one-Our-Expertise-card-cont-wrap > p{
    margin-bottom: 17px;
}


.Home-one-Our-Expertise-card-tit-wrap{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 17px;
}

.Home-one-Our-Expertise-card-tit-wrap > img{
    background-color: var(--primary);
    width: 60px;
    height: 60px;
    padding: 16px;
    border-radius: 5px;
}

.Home-one-Our-Expertise-card-tit-wrap h4{
    font-family: "Outfit";
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin: 0px;
}

.Home-one-Our-Expertise-inner-card{
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    background-color: var(--secondry);
    border-radius: 20px;
}

.inner-card-child {
    text-align: center;
    padding: 0px 75px;
}

.inner-card-child > h4{
    margin-bottom: 2px;
    font-family: "Outfit";
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.inner-card-child > p{
    margin-bottom: 0px;
}

.inner-card-child-center{
    border-left: 2px dotted #dee6ed;
    border-right: 2px dotted #dee6ed;
}

.Home-One-Nexora-Blog-Hub-tit-wrap{
    max-width: 849px;
    width: 100%;
    margin: 0rem auto 80px;
    text-align: center;
}

.Home-One-Nexora-Blog-Hub-tit-wrap > p{
    margin: 0px;
}

.Home-One-Nexora-Blog-Hub-main-tit{
    font-family: "Outfit";
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 30px;
}

.Home-One-Nexora-Blog-listing-card{
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    background-color: var(--secondry);
    position: relative;
}

.Home-One-Nexora-Blog-Hub-sec .row>*{
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
}

.Home-One-Nexora-Blog-Hub-sec{
    padding: 60px 0px;
}

.Nexora-Blog-listing-card-cont-wrap{
    padding: 30px;
}

.blog-author-details{
    display: flex;
    align-items: center;
}

.blog-author-details p{
    margin: 0px;
}

.Blog-listing-card-date{
    margin-bottom: 16px;
    font-family: "Jost";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.Blog-listing-card-tit{
    font-family: "Outfit";
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 16px;
}

.Blog-listing-card-tit a:hover{
   color: #5f5f5f;
}

.blog-detail-page-link{
    position: absolute;
    right: 30px;
    bottom: 30px;
    background-color: var(--primary);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.Blog-listing-card-para{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border);
}

.blog-author-img{
    margin-right: 16px;
    border-radius: 5px;
}

.blog-author-name{
    font-family: "Outfit";
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin: 0px;
}

.Home-one-Our-Expertise-main-img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.Nexora-Blog-listing-btn{
    margin: 0rem auto;
    margin-top: 20px;
}

.secondary-btn{
    width: max-content;
    padding: 12px 59px 13px 25px;
    background-color: var(--primary);
    border-radius: 30px;
    position: relative;
    border: 1px solid transparent;
    font-family: "Jost";
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
}

.secondary-btn:hover{
  background-color: white;
  border: 1px solid var(--dark);
}

.Nexora-Blog-listing-btn > img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
}

.home-one-footer-sec{
    background-color: black;
    margin: 50px 50px 0px;
    border-radius: 50px 50px 0px 0px;
    padding: 100px 0px;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}

.home-one-footer-sec *{
 color: white;
}

.home-one-footer-logo-wrap{
    margin-bottom: 24px;
}

.home-one-footer-mail-link-btn{
    background-color: var(--primary);
    padding: 10px 12px 10px 46px;
    width: max-content;
    border-radius: 10px;
    color: black;
    position: relative;
    border: 1px solid transparent;
    transition: 0.3s ease-in-out;
}

.home-one-footer-sec .home-one-footer-mail-link-btn:hover{
    background-color: #000000;
    border: 1px solid var(--primary);
}

.home-one-footer-sec .home-one-footer-mail-link-btn:hover img{
    filter: brightness(0) saturate(100%) invert(91%) sepia(99%) saturate(3471%) hue-rotate(24deg) brightness(100%) contrast(108%);
}

.home-one-footer-mail-link-btn > img{
    position: absolute;
    transition: 0.3s ease-in-out;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}

.home-one-usefull-links-tit , 
.home-one-company-links-tit , 
.home-one-Get-In-Touch-links-tit{
    margin-bottom: 20px;
    font-family: "Outfit";
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.home-one-footer-sec a:hover{
   color: white;
}

.home-one-usefull-links-wrap > a , 
.home-one-Get-In-Touch-links-wrap > a , 
.home-one-company-links-wrap > a{
    color: hsla(220, 6%, 49%, 1);
    font-family: "Jost";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
}

.home-one-Get-In-Touch-links-wrap > p{
    color: #757a84;
    margin-bottom: 24px;
}

.home-one-Get-In-Touch-links-social-media-iocn > img{
    filter: brightness(0) saturate(100%) invert(99%) sepia(98%) saturate(1817%) hue-rotate(23deg) brightness(99%) contrast(109%);
    transition: 0.1s ease-in-out;
}

.home-one-Get-In-Touch-links-social-media-iocn{
    border: 1px solid var(--primary);
    width: 45px;
    height: 45px;
    display: grid;
    place-content: center;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.home-one-Get-In-Touch-links-social-media-iocn:hover{
    background-color: var(--primary);
}

.home-one-Get-In-Touch-links-social-media-iocn:hover img{
    filter: brightness(0) saturate(100%)
}

.home-one-Get-In-Touch-links-social-media-wrap{
    display: flex;
    gap: 12px;
}

.footer-main-tit-bottom{
    font-family: "Outfit";
    font-size: 143px;
    font-weight: 700;
    line-height: 140px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(180deg, #7A7A7A -199.64%, rgba(20, 20, 20, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 50px;
    margin-bottom: 0px;
}

.home-one-footer-copy-rights{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    font-family: "Jost";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(117, 122, 132, 1);
    width: 100%;
    text-align: center;
}

.home-one-footer-copy-rights > a{
    display: inline-block;
    color: inherit;
}

.home-one-faq-tit-wrap{
    max-width: 1023px;
    width: 100%;
    margin: 0rem auto;
    text-align: center;
    margin-bottom: 80px;
}

.home-one-faq-tit-wrap > p{
    margin: 0px;
}

.home-one-faq-main-tit{
    font-family: "Outfit";
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 26px;
}

.accordion{
    --bs-accordion-bg: var(--secondry);
    
}

.accordion-item{
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.accordion-button{
    padding: 28px 20px;
    font-family: "Outfit";
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    box-shadow: none;
}

.accordion-body{
    padding: 0px 20px 20px 20px;
}

.accordion-button:not(.collapsed){
    color: black;
    background-color: var(--secondry);
    box-shadow: none;
}

.accordion-button:focus{
    box-shadow: none;
}

.accordion-button::after{
    background-image: url("../../assets/HomeOne/Faq/add.svg");
    background-color: var(--dark);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-size: cover;
    transform: rotate(45deg);
    position: absolute;
    top: 20px;
    right: 20px;
}

.home-one-testimonials-sec{
    padding: 60px 0px;
}

.accordion-button:not(.collapsed)::after{
    background-image: url("../../assets/HomeOne/Faq/add.svg");
}

.home-one-faq-sec{
    padding: 60px 0px;
}

.home-one-faq-sec .row>*{
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
}

.home-one-testimonials-tit-wrap{
    max-width: 829px;
    width: 100%;
    text-align: center;
    margin: 0rem auto;
    margin-bottom: 80px;
}

.home-one-testimonials-main-tit{
    font-family: "Outfit";
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 26px;
}

/* ==================================================== */

.carousel{
    margin: 0 auto;
    padding: 0px 0px 30px;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    cursor: pointer;
    position: relative;
}

.carousel::before , .carousel::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 50px;
}

.carousel::before{
    background: linear-gradient(-90deg, white , transparent);
    right: 0px;
    top: 0px;
    z-index: 10;
}

.carousel::after{
    background: linear-gradient(90deg, white , transparent);
    left: 0px;
    top: 0px;
    z-index: 10;
}

.group.animated{
    animation: scrolling 20s linear infinite;
}


.animatedOne{
    animation: scrollingOne 20s linear infinite;
}

@keyframes  scrolling{
    0%{
        transform: translateX(0%);
    }

    100%{
        transform: translateX(-100%);
    }
}

@keyframes  scrollingOne{
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0%);
    }
}

.carousel:not(.basic) > *{
    flex: 0 0 100%;
}

.group{
    display: flex;
    gap: 30px;
    padding-right: 20px;
    will-change: transform;
}


.card{
    width: 100%;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.testimonial-card-wrap{
    background: linear-gradient(180deg, #F4FFEE 23%, rgba(255, 255, 255, 0) 100%);
    background-color: #eaffdd;
    height: 100%;
    width: 100%;
    padding: 30px;
    position: relative;
    text-align: left;
}

.testimonial-card-wrap > p{
    margin: 0px;
}

.testimonial-card-top{
    margin-bottom: 24px;
    border-bottom: 1px solid var(--border);
    padding-bottom: 24px;
    flex-direction: row-reverse;
}

.testimonial-card-top{
    display: flex;
    align-items: center;
    gap: 11px;
}

.testimonial-card-profile-detail > h4{
    font-family: "Outfit";
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 2px;
}

.testimonial-card-profile-detail{
   display: flex;
   flex-direction: column;
}

.testimonial-card-wrap::before{
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background:url("../../assets/HomeOne/Testimonials/quote-down.svg") ;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  right: 30px;
  top: 30px;
}

.carousel {
    &:hover .group {
      animation-play-state: paused;
    }
}

.nav-list{
    padding: 10px 25px;
}

  /* ==================================================== */

.green-brand-logo-sec{
    overflow-x: hidden;
    position: relative;
    height: 70px;
    margin: 60px 0px;
}

.green-brand-logo-sec .brand-Logo-ul-list{
    background-color: var(--primary);
}

.green-brand-logo-sec .brand-Logo-ul-list img{
    filter: brightness(0) saturate(100%)
} 

.home-two-banner-btn{
     padding: 12px 18px;
     margin: 0rem auto;
}

.home-two-banner-sec{
    padding: 100px 0px;
    text-align: center;
}

.home-two-banner-hero-tit{
    font-family: "Outfit";
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 40px;   
}

.home-two-banner-para{
    max-width: 800px;
    width: 90%;
    margin: 0rem auto 60px;
}

.Home-two-What-Sets-Us-Apart-tit-wrap{
    text-align: center;
    max-width: 730px;
    width: 100%;
    margin: 0rem auto 80px;

}

.Home-two-What-Sets-Us-Apart-tit-wrap > p{
    margin: 0px;
}

.Home-two-What-Sets-Us-Apart-main-tit{
    font-family: "Outfit";
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 30px;
}

.first-top-child-card{
    border-bottom: 1px dotted var(--border);
    border-right: 1px dotted var(--border);
}

.Home-two-What-Sets-Us-Apart-card{
    padding: 50px;
    text-align: center;
}

.Home-two-What-Sets-Us-Apart-card h3{
    font-family: "Outfit";
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.Home-two-What-Sets-Us-Apart-card h3{
    margin-bottom: 12px;
}

.Home-two-What-Sets-Us-Apart-card-img{
    background-color: var(--primary);
    width: max-content;
    margin: 0rem auto 24px;
    border-radius: 5px;
    width: 55px;
    height: 55px;
    padding: 10px;
}

.last-top-child-card{
    border-left: none;
    border-bottom: 1px dotted var(--border);
}

.first-bottom-child-card{
    border-right: 1px dotted var(--border);
}

.Home-Two-About-Nexora-Digitalagency-tit-wrap{
    max-width: 849px;
    margin: 0rem auto 80px; 
    text-align: center;
}

.Home-Two-About-Nexora-Digitalagency-tit-wrap > p{
    margin: 0px;
}

.Home-two-What-Sets-Us-Apart-sec{
    padding: 60px 0px;
}

.Home-Two-About-Nexora-Digitalagency-sec{
    padding: 60px 0px;
}

.Home-Two-About-Nexora-Digitalagency-main-tit{
    font-family: "Outfit";
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 26px;
}

.Home-Two-About-Nexora-Digitalagency-cont-wrap .row>*{
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
} 

.Home-Two-About-Nexora-Digitalagency-number{
    font-family: "Outfit";
    font-size: 55px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 20px;
}

.Home-Two-About-Nexora-Digitalagency-cont-wrap h4{
    font-family: "Outfit";
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    padding-bottom: 16px;
    border-bottom: 2px solid var(--border);
    margin-bottom: 16px;
}

.swiper-wrapper {
    transition-timing-function: linear !important;
}

.about-us-page-banner-cont-wrap{
    width: 100%;
    max-width: 849px;
    margin: 0rem auto;
    text-align: center;
    margin-bottom: 80px;
}

.about-us-page-banner-main-tit{
    font-family: "Outfit";
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 30px;
}

.about-us-page-banner-sec{
    padding: 60px 0px;
}

.About-Our-Story-sec{
    padding: 60px 0px 120px;
}

.About-Our-Story-tit-wrap{
    max-width: 849px;
    width: 100%;
    margin: 0rem auto;
    text-align: center;
    margin-bottom: 80px;
}

.About-Our-Story-main-tit{
    font-family: "Outfit";
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 30px;
}

.About-Our-Story-card{
    background: rgba(244, 255, 238, 1);
    padding: 30px;
    position: relative;
    border-radius: 10px;
    border:  1p solid var(--border);
}

.About-Our-Story-card::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--primary);
    border: 10px solid white;
    box-sizing: content-box;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -60px;
}

.About-Our-Story-card::after{
    content: "";
    position: absolute;
    width: 107%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #dee6ed;
    bottom: -40px;
    z-index: -1;
}

.About-Our-Story-sec .row>*{
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
}

.About-Our-Story-year{
    display: block;
    font-family: "Outfit";
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    color: var(--primary);
    margin-bottom: 30px;
}

.About-Our-Story-card-tit{
    font-family: "Outfit";
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 28px;
}

.About-Us-Our-Mission-Values-tit-wrap{
    max-width: 849px;
    width: 100%;
    text-align: center;
    margin: 0rem auto;
    margin-bottom: 80px;
}

.About-Us-Our-Mission-Values-sec{
    padding: 60px 0px;
}

.About-Us-Our-Mission-Values-min-tit{
    font-family: "Outfit";
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 30px;
}

.About-Us-Our-Mission-Values-card-img{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    gap: 24px;
}

.About-Us-Our-Mission-Values-card-img > img{
    flex-shrink: 0;
    background-color: #9EFF00;
    padding: 10px;
    width: 55px;
    height: 55px;
    border-radius: 10px;
}

.About-Us-Our-Mission-Values-card{
    padding: 30px;
    border: 1px solid var(--border);
    margin-bottom: 30px;
    border-radius: 10px;
}

.About-Us-Our-Mission-Values-card:hover{
    background-color: var(--secondry);
}

.About-Us-Our-Mission-Values-sec .row>*{
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
}

.Awesome-Team-Members-tit-wrap{
    max-width: 768px;
    width: 100%;
    margin: 0rem auto;
    text-align: center;
    margin-bottom: 80px;
}

.Awesome-Team-Members-main-tit{
    font-family: "Outfit";
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 30px;
}

.Awesome-Team-Members-sec{
    padding: 60px 0px;
}

.Awesome-Team-Members-sec .row>*{
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
}

.Awesome-Team-Members-img{
    padding-top: 30px;
    background: url("../../assets/AboutusPage/bg.png")  rgba(244, 255, 238, 1);
}

.Awesome-Team-Members-card{
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid var(--border);
}

.Awesome-Team-Members-card-cont-wrap{
    padding: 17px 30px;
    position: relative;
}

.Awesome-Team-Members-name{
    font-family: "Outfit";
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.Awesome-Team-Members-card-cont-wrap img{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.Our-Culture-Empowering-Excellence-tit-wrap{
    max-width: 1002px;
    width: 100%;
    text-align: center;
    margin: 0rem auto;
}

.Our-Culture-Empowering-Excellence-main-tit{
    font-family: "Outfit";
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 30px;   
}

.Our-Culture-Empowering-Excellence-sec{
    padding: 60px 0px;
}